/* Reset */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

/* Icons */
@font-face {
  font-family: 'icons';
  src: url('icons.woff') format('woff'), url('icons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
[class*="icon-"] {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon--inline {
  margin-right: 5px;
}
.icon-twitter:before {
  content: "\f099";
  color: #0099EC;
}
.icon-calendar:before {
  content: "\f073";
}
.icon-download-alt:before {
  content: "\f019";
}
.icon-rss:before {
  content: "\f09e";
}

.download, .download:link, .download:visited {
  background: #1e87dd;
  display: inline-block;
  padding: 8px 12px;
  border-radius: 5px;
  color: #fff;
}

.download i {
  margin-right: 5px;
}

html {
  min-width: 940px;
  background: #f5f4f2 url("/img/stripe.png") 0 22px repeat-x;
}
body {
  max-width: 1100px;
  margin: auto;
  position: relative;
}
body,
input,
textarea {
  font: 14px/1.5 sans-serif;
  color: #333;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #CAE5F8;
  box-shadow: 0 0 0 2px #CAE5F8;
}

::selection {
  background: #fff8b4;
  color: #000;
}
::-webkit-input-placeholder {
  color: #777;
}
:-moz-placeholder {
  color: #777;
}
:-ms-input-placeholder {
  color: #777;
}
.placeholder {
  color: #777;
}
:target {
  background-color: #fff8b4 !important;
}
input,
textarea,
select,
p,
nav,
table,
pre,
blockquote {
  margin-bottom: 14px;
}
a {
  text-decoration: none;
}
a:link,
a:visited {
  color: #1e87dd;
}
a:hover {
  background-color: #ffface;
}

h1,
h2,
h3,
h4,
.description,
.welcome {
  font-family: 'open sans', sans-serif;
  text-rendering: optimizeLegibility;
  letter-spacing: -0.02em;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 20px 0 10px;
  padding: 4px 0;
  font-weight: 600;
  line-height: 1.2;
}
.description {
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: 400;
  margin-top: -5px;
  color: #777;
}
.welcome {
  width: 440px;
  font-size: 18px;
}

.date {
  color: #999;
  margin: -5px 0 15px;
  font-size: 13px;
}
h1 {
  margin-top: 0;
  font-size: 36px;
}
h2 {
  font-size: 22px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 16px;
}
h5 {
  font-size: 14px;
  margin-bottom: 0;
  font-weight: normal;
}
ul {
  list-style: none;
  margin: 0 0 10px 0;
}
li {
  margin: 0 0 4px 12px;
  position: relative;
}
li:before {
  content: '•';
  color: #bbb;
  font-size: 18px;
  position: absolute;
  left: -12px;
  line-height: 1;
}
hr {
  height: 1px;
  background: #f5f4f2;
  color: #f5f4f2;
  border: 0;
  margin: 0 -25px 10px;
}
code {
  font: 13px/1 Consolas, monospace;
  line-height: 1.4;
  display: inline-block;
  background: #f7f7f7;
  position: relative;
  padding: 0 5px;
}
pre code {
  padding: 15px;
  overflow: auto;
  display: block;
  line-height: inherit;
  margin: 0 -25px;
  padding: 15px 25px;
  border-radius: none;
}

td pre code, li pre code {
  padding: 15px;
  margin: 0;
  border-radius: 6px;
}

blockquote {
  border-left: 3px solid #ccc;
  background: #F8F8F8;
  padding: 15px;
}

a.demo {
  display: inline-block;
  width: 24px;
  font: bold 14px/24px sans-serif;
  text-align: center;
  text-indent: -1px;
  margin-right: 1px;
  border-radius: 100%;
  text-decoration: none;
  background: #1e87dd;
}
a.demo:visited,
a.demo:link {
  color: #fff;
}
a.demo:hover {
  background: #000;
}
iframe.demo {
  width: 100%;
  overflow: hidden;
  display: block;
}
.main {
  padding-right: 315px;
  position: relative;
}
article,
aside {
  background:#fff;
  position: relative;
  border-radius:4px;
}
article {
  padding: 25px 25px 10px 25px;
}
article img {
  max-width: 100%;
}
aside {
  width: 310px;
  padding: 15px 10px 10px 10px;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 13px;
}
aside ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
aside li {
  padding: 0;
  margin: 0;
  background: none;
  border-top: 1px solid #ebebeb;
}
aside li:before {
  display: none;
}
aside li a {
  line-height: 1.9em;
  display: inline-block;
}
header {
  /*font-weight: bold;*/
  height: 80px;
  overflow: hidden;
  font-family: sans-serif;
  font-weight: 600;
}
header a:link,
header a:visited {
  color: #222;
}

header a.twitter,
header a.github {
  display: block;
  float: left;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin-left: 5px;
  margin-top: 25px;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -ms-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
header a.twitter:hover,
header a.github:hover {
  background-color: #ffd204;
}
header .twitter {
  font-size: 18px;
  text-align: center;
  padding-top: 3px;
}
header .github {
  background: #fff url("/img/icons.png") 3px 4px no-repeat;
  text-indent: -9999px;
}

.me {
  display: inline-block;
  line-height: 80px;
  vertical-align: top;
  float: left;
}
.me:hover {
  background: none;
}
.me:before {
  display: inline-block;
  content: '';
  background: url("/img/jackmoore.jpg") center center no-repeat;
  background-size: contain;
  border:3px solid #fff;
  border-radius: 100%;
  width: 74px;
  height: 74px;
  margin: 3px 5px 0 0;
  vertical-align: top;
}

#fork {
  position: absolute;
  top: 0;
  right: 0;
  background: url("/img/github.png") 0 0 no-repeat;
  display: block;
  width: 149px;
  height: 149px;
  text-indent: -9999px;
}
input,
select,
textarea {
  padding: 4px 6px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

input[type=text] {
  width: 260px;
}
input[type=submit] {
  padding: 6px 8px;
  border: none;
  cursor: pointer;
  color: #fff;
  background: #222;
}
input[type=submit]:hover,
input[type=submit]:focus {
  background: #1e87dd;
}
textarea {
  width: 98%;
  height: 80px;
}
label {
  display: block;
}
table {
  background: #fff;
  border-collapse: collapse;
}
th, td {
  vertical-align: top;
  text-align: left;
  padding: 6px 13px;
  border: 1px solid #E5E5E5;
}

nav {
  margin-top: 14px;
  float: right;
}
nav a:link {
  background: #f5f4f2;
  float: left;
  height: 44px;
  overflow: hidden;
}
nav a:hover {
  background: #f5f4f2;
}
nav span {
  background-color: #fff;
  display: inline-block;
  line-height: 36px;
  padding: 0 10px;
  margin-top: 8px;
  position: relative;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
nav span:before {
  content: '';
  position: absolute;
  top: 36px;
  left: 0;
  border-right: 8px solid #9b8651;
  border-bottom: 8px solid #fff;
}
nav span:after {
  content: '';
  position: absolute;
  top: 36px;
  right: 0;
  border-left: 8px solid #9b8651;
  border-bottom: 8px solid #fff;
}
nav a:hover span {
  background-color: #ffd204;
  margin-top: 0;
}
.tags {
  overflow: auto;
  margin-left: -5px;
  padding: 0;
}
.tags li {
  margin: 0 0 5px 5px;
  float: left;
  border: none;
  background: none;
  padding: 0;
}
.tags li:before {
  display: none;
}
.tags a {
  padding: 0 6px;
  line-height: 1.8em;
  display: inline-block;
  background: #f4efe9;
  position: relative;
  border-radius: 4px;
}
.tags a span {
  font-size: 10px;
  color: #777;
  margin-left: 5px;
  line-height: 1em;
}
.tags [data-active] {
  background: #1e87dd;
  cursor: default;
  color: #fff;
}
.tags [data-active] span {
  color: #ccc;
}
.archive__item {
  border-top: 1px solid #ebebeb;
  overflow: auto;
}
.archive__item h3 {
  line-height: 55px;
  margin: 0;
  padding: 0;
}
.archive__item .date {
  margin: 0;
  padding: 0;
  float: left;
  width: 80px;
  font-weight: bold;
  line-height: 55px;
  font-size: 10px;
}

.home article {
  background: #191c35 url("/img/howdy.jpg") left top no-repeat;
  color: #fff;
}
.home article, 
.home aside {
  height: 495px;
}
.home body {
  max-width: 1250px;
}
.home .recent-posts {
  display: none;
}
.error404 article {
  height: 575px;
  background: url("/img/404.png") center center no-repeat;
  text-indent: -9999px;
}
.error404 aside {
  height: 575px;
}

.error404 .recent-posts,
.home .recent-posts,
.archive .recent-posts {
  display: none;
}


#ta1, #ta2 {
  width: 42%;
  padding: 10px 10px 0 10px;
  background: #fff;
  overflow: hidden;
  vertical-align: top; 
}
#ta2 {
  transition: height 0.2s;
  -webkit-transition: height 0.2s; 
  -moz-transition: height 0.2s; 
}

.zoom {
  display:inline-block;
  position: relative;
}

/* magnifying glass icon */
.zoom:after {
  content:'';
  display:block; 
  width:33px; 
  height:33px; 
  position:absolute; 
  top:0;
  right:0;
  background:url(https://raw.github.com/jackmoore/zoom/master/icon.png);
}
.zoom img {
  display: block;
}
.zoom img::selection { background-color: transparent; }
#ex1 { margin-right:5px; }
#ex2 img:hover { cursor: url(grab.cur), default; }
#ex2 img:active { cursor: url(grabbed.cur), default; }
#ex1 span, #ex2 span { position:absolute; top:3px; right:28px; color:#555; font:bold 13px/1 sans-serif; }

/* Anti-spam measure */
.email:before {
  content: 'hello';
}
.email:after {
  content: '@jacklmoore.com';
}
