{% include header %}
<h1>{{ page.title }}</h1>

{% if page.date %}
<hr>
<p class='date'><span class='icon-calendar icon--inline'></span>{{ page.date | date: "%B %e, %Y" }}</p>
{% endif %}
{% if page.meta %}
<p class='description'>{{ page.meta }}</p>
{% endif %}
<hr>
{{ content }}
<hr>
<h2>Hey,</h2>
<p>Keep up with me on <a href="http://twitter.com/jacklmoore" rel='me'>Twitter</a> and <a href="http://github.com/jackmoore" rel='me'>Github</a>, that's where I'm most active these days.</p>

<p>
<iframe src="http://ghbtns.com/github-btn.html?user=jackmoore&amp;type=follow&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="170" height="20"></iframe>
<a href="https://twitter.com/jacklmoore" class="twitter-follow-button" data-show-count="true">Follow @jacklmoore</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</p>

<hr>
<h2>This site is on Github </h2>
<p>If you have corrections/suggestions for this page, <a href='https://github.com/jackmoore/jackmoore.github.com'>file an issue</a> for it on Github or <a href='mailto:hello@jacklmoore.com'>email me</a>.  If you have a question about the material, it is probably better to ask <a href='http://stackoverflow.com/'>Stack Overflow</a>.  I no longer have the time to respond to individual queries, sorry.</p>
{% include footer %}